@media (max-width: 480px) {
  background: -webkit-linear-gradient(275deg, #77aad5 0%, #77aad5 95%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(275deg, #77aad5 0%, #77aad5 95%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(175deg, #77aad5 0%, #77aad5 95%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0) 100%); }
