@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@font-face {
	font-family: Lucida Grande;
	src: url('../fonts/LucidaGrandeRegular.ttf');
	font-weight: 300;
}
@font-face {
	font-family: Raleway;
	src: url('../fonts/Raleway-Regular.ttf');
	font-weight: 300;
}
@font-face {
	font-family: Raleway;
	src: url('../fonts/Raleway-Bold.ttf');
	font-weight: 700;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	
}
.wrapper {
	max-width: 1360px;

}
.main {
	background: linear-gradient(-10deg, rgba(255, 255, 255, 1) 50%, rgba(119, 170, 213, 1) 50%) center -50px / 100% 800px;
	/* background-repeat: repeat; */

}
.header__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.header__logo {
	font: bold 36px/1 "Lucida Grande", Arial, sans-serif;
}
.header__slogan {
	font: 300 19px/1 'Raleway', Arial, sans-serif;
}
.header__telephone {
	font: bold 20px/1 "Lucida Grande", Arial, sans-serif;
}
.main {
	padding: 50px 0 0 5px;
}
.main__consultation-header {
	font: 700 24px/1 Raleway, Arial, sans-serif;
	color: #fff;
	margin-bottom: 15px;
}
.main__consultation {
	display: flex;
	flex-wrap: wrap;
}
.main__consultation-title {
	font: 700 45px/1 Raleway, Arial, sans-serif;
	color: #ffe100;
	margin-bottom: 15px;
}
.main__consultation-subtitle {
	font: 300 20px/1 Raleway, Arial, sans-serif;
	color: #fff;
	margin-bottom: 30px;
}
.main__image {

}
.global-btn {
	width: 350px;
	height: 60px;
	margin: 0 auto;
	border-radius: 30px;
	border-style: none;
	outline: none;
	cursor: pointer;
	background-color: #696f87;
	font: 300 24px/1 Raleway, Arial, sans-serif;
	color: #fff;
}
.main__promo {
	margin-bottom: 175px;
}
.main__promo-offer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 30px;
}
.main__promo-img {
	display: block;
	margin: 0 auto 20px auto;
}
.main__item-title {
	text-align: center;
	font: 300 20px/1 Raleway, Arial, sans-serif;
	line-height: 1.5;
}
.main__promo-text {
	font: 300 15px/1.2 Raleway, Arial, sans-serif;
	margin-bottom: 5px;
}
.bold {
	font-weight: bold;
}